<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <label class="text-left">My Task</label>
        <a class="btn"><span class="glyphicon glyphicon-plus"></span>Add task</a>
    </div>
    <div class="panel-body">
        <table class="table table-hover" >
            <thead>
            <tr>
                <th>name</th>
                <th>startTime</th>
                <th>endTime</th>
                <th>eventType</th>
                <th>notes</th>
                <th>createTime</th>
                <th>operatingTime</th>
            </tr>
            </thead>
            <tbody *ngIf="events && events.content">
            <tr *ngFor="let event of events.content">
                <td>{{event.eventName}}</td>
                <td>{{event.startTime}}</td>
                <td>{{event.endTime}}</td>
                <td>{{event.eventType}}</td>
                <td>{{event.notes}}</td>
                <td>{{event.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{event.operatingTime}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<daily-pagination [pageInfo]="events" (pageSelect)="taskPageSelect($event)" ></daily-pagination>